<% breadcrumb :question, @question %>
<div id="question_show" itemprop="mainEntity" itemscope itemtype="https://schema.org/Question">
	<div class="slboard_content">
		<div class="sl_content_header box_header">
			<h2 itemprop="name"><%= @question.title %></h2>
			<p><%=t(:label_name)%> : <span  itemprop="author"><%=userName(@question,10) %></span>&nbsp;&nbsp;&nbsp; <%=t(:label_created_at)%> : <span itemprop="answerCount"></span><span itemprop="dateCreated"><%= @question.created_at %></span><span class="none" itemprop="dateModified"><%= @question.updated_at %></span></p>
		</div>
		<div class="sl_content_main">
			<div class="sl_content_text" itemprop="text"><%= simple_format(@question.content.to_s) %></div>
		</div>
	</div>

	<div class="row">
		<div class="btn-group btn-group-lg col-12" role="group" style="margin-top:3rem">
			<%=link_to t(:link_list),questions_path,{class: 'btn btn-secondary btn-large btn-block'} %>
		</div>
	</div>
</div>
<% content_for :json_ld do %>
	<script type="application/ld+json">
		<%= raw(JSON.pretty_generate(qa_page_jsonld(@question))) %>
	</script>
<% end %>
