<article id="sl_main_blog" class="col-12">
	<h3><%=t('activerecord.models.blog') %></h3>
	<ul>
		<% unless @blogs.empty? %>
			<% @blogs.each do |blog| %>
				<li>
					<%= link_to blog.title, blog  %>
					<span class="d-none d-lg-block text-muted" style="float:right;"><%=time_ago_in_words blog.created_at.to_date %></span>
				</li>
			<% end %>
		<% else %>
			<li><%=t(:no_data) %></li>
		<% end %>
	</ul>
	<%=link_to t(:link_more),blogs_path,:class=>'more' %>
</article>
