<% breadcrumb :blog, @blog %>
<div id="sl_blog_show">
	<%=render 'categories' %>
	<div class="slboard_content">
		<div class="sl_content_header box_header">
			<h2><%= @blog.title %></h2>
			<p>작성자 :  <%= render :partial => 'users/data', :locals => { :user => @blog.user } %> &nbsp;&nbsp;&nbsp; <%=t(:label_created_at)%> : <span><%= l(@blog.created_at.to_date, format: :long) %></span></p>
		</div>
		<div class="sl_content_main">
			<div class="sl_content_text">
				<% if @blog.is_html %>
					<%= @blog.content.to_s %>
				<% else %>
					<%=simple_format @blog.content.to_s %>
				<% end %>
			</div>
		</div>
	</div>
	<% unless @blog.tags.count.zero? %>
		<p>
			<%=t('activerecord.models.tag') %> : <%= raw @blog.tags.map { |t| link_to t, tag_path(:tag=>t.name) }.join(', ') %>
		</p>
	<% end %>

	<% if @related_blogs.present? %>
		<h3>관련 글</h3>
		<ul>
			<% @related_blogs.each do |blog| %>
				<li>
					<%= link_to blog.title, blog_path(blog) %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<div class="row">
		<div class="btn-group btn-group-lg col-12 mt-3" role="group">
			<%= link_to t(:link_list),blogs_path(page: params[:page], blog_category_id: @blog_category), class: 'btn btn-secondary btn-large btn-block' %>
		</div>
	</div>
</div>
<% content_for :json_ld do %>
	<script type="application/ld+json">
		<%= raw(JSON.pretty_generate(json_ld_for_blog(@blog))) %>
	</script>
<% end %>