<% breadcrumb :blog, @blog %>
<div id="sl_blog_show">
	<div class="slboard_content">
		<div class="sl_content_header box_header">
			<h2 itemprop="name"><%= @blog.title %></h2>
			<p>작성자 :  <%= render :partial => 'users/data', :locals => { :user => @blog.user } %> &nbsp;&nbsp;&nbsp; <%=t(:label_created_at)%> : <span><%= @blog.created_at %></span></p>
		</div>
		<div class="sl_content_main">
			<div class="sl_content_text">
				<%=simple_format @blog.content.to_s %>
			</div>
		</div>
	</div>
	<% unless @blog.tags.count.zero? %>
		<p>
			<%=t('activerecord.models.tag') %> : <%= raw @blog.tags.map { |t| link_to t, tag_path(:tag=>t.name) }.join(', ') %>
		</p>
	<% end %>
	<div class="row">
		<div class="btn-group btn-group-lg col-12 mt-3" role="group">
			<% if params[:blog_category_id].present? %>
				<%= link_to t(:link_list),blogs_path({:blog_category_id=>@blog.blog_category_id}), class: 'btn btn-secondary btn-large btn-block' %>
			<% else %>
				<%= link_to t(:link_list),blogs_path, class: 'btn btn-secondary btn-large btn-block' %>
			<% end %>
		</div>
	</div>
</div>
<% content_for :json_ld do %>
	<script type="application/ld+json">
		<%= raw(JSON.pretty_generate(json_ld_for_blog(@blog))) %>
	</script>
<% end %>