<aside id="main-menu" class="col-12 col-md-3 col-lg-2 col-xl-1">
  <h1 class="col-12"><%= link_to t(:service_name), admin_root_path %></h1>
  <nav>
    <ul class="nav">
      <li class="nav-item
            <% if ['admin/blogs','admin/blog_categories'].include?(params[:controller]) %> active
            <% end %>">
        <%= link_to admin_blogs_path, :class => "nav-link" do %>
          <i class="material-icons">payment</i><span><%= t(:blog, scope: [:activerecord,:models]) %></span>
        <% end %>
      </li>

      <li class="nav-item
            <% if ['admin/galleries','admin/gallery_categories'].include?(params[:controller]) %> active
            <% end %>">
        <%= link_to admin_galleries_path, :class => "nav-link" do %>
          <i class="material-icons">payment</i><span><%= t(:gallery, scope: [:activerecord,:models]) %></span>
        <% end %>
      </li>
      <li class="nav-item
            <% if ['admin/questions'].include?(params[:controller]) %> active
            <% end %>">
        <%= link_to admin_questions_path, :class => "nav-link" do %>
          <i class="material-icons">payment</i><span><%= t(:question, scope: [:activerecord,:models]) %></span>
        <% end %>
      </li>
      <li class="nav-item
            <% if ['admin/guest_books'].include?(params[:controller]) %> active
            <% end %>">
        <%= link_to admin_guest_books_path, :class => "nav-link" do %>
          <i class="material-icons">settings</i><span><%= t(:guest_book, scope: [:activerecord,:models]) %></span>
        <% end %>
      </li>
    </ul>
  </nav>
</aside>

