<header class="row">
  <div class="col-12">
    <% if ['admin/blogs','admin/blog_categories'].include?(params[:controller]) %>
      <%= render 'admin/blogs/nav' %>
    <% end %>
    <% if ['admin/galleries','admin/gallery_categories'].include?(params[:controller]) %>
      <%= render 'admin/galleries/nav' %>
    <% end %>
    <ul id="top-menu">
      <% if admin_signed_in? %>
        <li id="admin-info">
          <% if current_admin.user_picture.present? %>
            <%= image_tag(current_admin.user_picture.picture.small_thumb.url, { :height => 50, :width => 50 }) %>
          <% end %>
          <span class="text-dark"><%= current_admin.nickname %></span>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, :id => "p_logout", :method => :delete do %>
            <i class="material-icons" style="font-size:35px;vertical-align:middle">highlight_off</i><span><%= t(:logout) %></span>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_admin_session_path do %>
            <i class="material-icons">login</i><span><%= t(:login) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>

