<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <title><%= t(:service_name) %></title>
  <meta name="description" content="<%= t(:service_name) %>">
  <meta name="author" content="Sleeping-Lion">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <%= stylesheet_link_tag "admin/application", :media => "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "actiontext", :media => "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <%= render :partial => 'layouts/admin/aside' %>
    <div class="col-12 col-md-9 col-lg-10 col-xl-11">
      <%= render :partial => 'layouts/admin/header' %>
      <div id="mom" class="row">
        <div id="main" class="col-12">
          <div class="sub-main p-3 p-lg-4 p-xl-5">
            <%= render :partial => 'layouts/notice', :locals => { :notice => notice, :alert => alert } %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render :partial => 'layouts/admin/footer' %>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"></div>
<%= javascript_importmap_tags %>
</body>
</html>
