<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
  <meta charset="utf-8">
  <title><%=t(:service_name)%></title>
  <meta name="description" content="<%=t(:service_name)%>">
  <meta name="author" content="Sleeping-Lion">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag "admin/application", :media => "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body id="anon_body">
<div id="mom">
  <%= render :partial => 'layouts/admin/login_header' %>
  <main id="main" class="container">
    <div class="sub-main">
      <%= render :partial => 'layouts/notice', :locals => { :notice => notice, :alert => alert } %>
      <%= yield %>
    </div>
  </main>
</div>
<%= render :partial => 'layouts/admin/login_footer' %>
<%= javascript_importmap_tags %>
</body>
</html>
