<div class="sl_show">
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:question]) %></b>
		<%= @question.title %>
	</p>
	<p>
  	<b><%=t(:content,scope:[:activerecord,:attributes,:question_content]) %></b>
		<%= simple_format(@question.content) %>
	</p>
	<p>
  	<b><%=t(:label_count) %></b>
  	<%=@question.count+@question.impressionist_count(:filter=>:ip_address) %>
  </p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:question]) %></b>
		<%=raw flagToString(@question.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @question.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @question.created_at %>
  </p>
</div>
<% if can? :update, @question %>
<%= link_to t(:link_edit), edit_admin_question_path(@question) %> |
<% end %>
<%= link_to t(:link_list), admin_questions_path %>
