<% breadcrumb :guest_book, @guest_book %>
<section id="guest_book_show">
	<div class="slboard_content">
		<div class="sl_content_header box_header">
			<h2><%= @guest_book.title %></h2>
			<p><%=t(:label_name)%> : <span><%=userName(@guest_book,10) %></span>&nbsp;&nbsp;&nbsp; <%=t(:label_created_at)%> : <span><%= @guest_book.created_at %></span></p>
		</div>
		<div class="sl_content_main">
			<div class="sl_content_text"><%=simple_format sanitize(@guest_book.content.to_s.gsub(/\n/, '<br />'), :tags => %w(br img a)) %></div>
		</div>
	</div>
	<div class="row">
		<div class="btn-group btn-group-lg col-12 mt-3" role="group">
			<%=link_to t(:link_list),guest_books_path,{class: 'btn btn-secondary btn-large btn-block'} %>
		</div>
	</div>
</section>
<% content_for :json_ld do %>
	<script type="application/ld+json">
		<%= raw(JSON.pretty_generate(article_json_ld(@guest_book))) %>
	</script>
<% end %>
