<div class="sl_show">
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:guest_book]) %></b>
		<%= @guest_book.title %>
	</p>
	<p>
  	<b><%=t(:label_count) %></b>
  	<%=@guest_book.count+@guest_book.impressionist_count(:filter=>:ip_address) %>
  </p>
	<p>
  	<b><%=t(:content,scope:[:activerecord,:attributes,:guest_book]) %></b>
		<%= simple_format(@guest_book.content) %>
	</p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:guest_book]) %></b>
		<%=raw flagToString(@guest_book.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @guest_book.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @guest_book.created_at %>
  </p>
</div>
<% if can? :update, @guest_book %>
<%= link_to t(:link_edit), edit_admin_guest_book_path(@guest_book) %> |
<% end %>
<%= link_to t(:link_list), admin_guest_books_path %>
