<div class="col-12">
	<h2 class="float-start hidden-title"><%= t(:blog_list) %></h2>
	<div class="float-end">
		<p class="summary">
			<span id="list_count" style="display:none"><%=@gallery_category_count %></span>
			<%=raw t(:there_are_n_gallery_categories,count: @gallery_category_count) %>
		</p>
	</div>
</div>
<article class="col-12">
	<table class="table table-striped table-hover">
		<colgroup>
			<col style="width:120px;" />
			<col />
			<col style="width:100px;" />
			<col style="width:100px" />
      <col style="width:130px" />
			<% if can?(:update, GalleryCategory) || can?(:delete, GalleryCategory) %>
			<col <%= raw manage_width(GalleryCategory) %> />
			<% end %>
		</colgroup>
		<thead class="thead-default">
			<tr>
				<th class="text-center"><%= t(:enable,scope:[:activerecord,:attributes,:gallery_category]) %></th>
				<th><%=t(:title,scope:[:activerecord,:attributes,:gallery_category]) %></th>
				<th><%=t(:galleries_count,scope:[:activerecord,:attributes,:gallery_category]) %></th>
				<th><%=t(:enable,scope:[:activerecord,:attributes,:gallery_category]) %></th>
				<th><%= t(:label_created_at) %></th>
				<% if can?(:update, GalleryCategory) || can?(:delete, GalleryCategory) %>
				<th><%= t(:label_manage) %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% unless @gallery_category_count.zero? %>
			<% @gallery_categories.each do |gallery_category,index| %>
			<tr>
				<td>
					<div class="form-check form-switch">
						<input
							class="form-check-input"
							type="checkbox"
							id="notice_display<%= index %>"
							value="<%= gallery_category.id %>"
							<% if gallery_category.enable %> checked <% end %>
						>
						<label class="form-check-label" for="notice_display<%= index %>">
							<% if gallery_category.enable %> <%= t(:display) %> <% else %> <%= t(:hidden) %> <% end %>
						</label>
					</div>
				</td>
				<td><%= link_to gallery_category.title,admin_gallery_category_path(gallery_category) %></td>
				<td><%= link_to gallery_category.galleries_count,admin_gallery_category_path(gallery_category) %></td>
				<td><%= raw flagToString(gallery_category.enable) %></td>
				<td><%= gallery_category.created_at.to_date %></td>
				<% if can?(:update, gallery_category) or can?(:delete, gallery_category) %>
					<td class="text-right">
						<% if can? :update, gallery_category %>
							<%= link_to edit_admin_gallery_category_path(gallery_category), :class => "btn btn-secondary" do %>
								<%= t(:edit) %>
							<% end %>
						<% end %>
						<% if can? :delete, gallery_category %>
							<%= link_to admin_gallery_category_path(gallery_category), :method => :delete, :data => { :confirm => t(:delete_confirm) }, :class => "btn btn-danger" do %>
								<%= t(:delete) %>
							<% end %>
						<% end %>
					</td>
				<% end %>
			</tr>
			<% end %>
		<% else %>
			<tr>
				<td colspan="8" class="text-center"><%= t(:no_data) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<div class="pagination justify-content-center">
		<%= paginate @gallery_categories %>
	</div>
	<%= link_to t(:add), new_admin_gallery_category_path, :class => "btn btn-primary" %>
</article>