<section id="show-blog" class="col-12">
  <div class="row">
    <div class="col-12">
      <article class="card">
        <h3 class="card-header"><%=@blog.title %></h3>
        <div class="card-body">
          <h3></h3>
          <div><%=@blog.content %></div>
          <dl>
            <dt><%= t(:created_at, scope: [:activerecord, :attributes, :blog]) %></dt>
            <dd><%= I18n.l @blog.created_at.to_date, :format => :long %></dd>
            <dt><%= t(:updated_at, scope: [:activerecord, :attributes, :blog]) %></dt>
            <dd><%= I18n.l @blog.updated_at.to_date, :format => :long %></dd>
          </dl>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_blogs_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-right">
      <%= link_to t(:edit), edit_admin_blog_path(@blog), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_blog_path(@blog), :method => :delete, :data => { :confirm => t(:delete_confirm) }, class: 'btn btn-danger' %>
    </div>
  </div>
</section>
